<center>
	<p>This hobby began back when I was in the seventh grade. My sister had a book with many friendship bracelet patterns, and for a personal progress project I wanted to make them for my friends. I also loved being on pinterest. My dad pulled me aside one day and told me I needed hobbies. I picked one that could let me use pinterest with it. It didn't take very long for me to become obsessed with making bracelets. After a few years of doing simple ones, I tried following a pattern off of pinterest. I wasn't very great at it, but it allowed me to make keychains for my friends. I've made some pretty cool bracelets for my cousins and friends.</p>
</center>
<br />

@* • At least two images *@
<center>
	<img src='~/image/cow.png' height="300px" alt="sunflower cow keychain"/>	
	<img src='~/image/osmlogo.jpg' height="300px" alt="mission logo keychain" />
</center>
<br />

<center>
	<p>Pinterest has some really cool patterns. I kept seeing these elaborate patterns and feeling like I couldn't follow them. My sophomore year in college, I decided I was going to learn how to read an alpha pattern. I watched youtube videos to learn how to change the leading string and tips on how to make your bracelet/keychain look better. I started with a Jack Skellington pattern for my cousin. My favorite so far is the keychain on my backpack. It's a cow with a sunflower headband with two sunflowers on the end of the keychain. The hardest one was a pattern I made myself. I made my mission leaders a keychain with the mission logo on it. It's the Savior holding a lamb, representative of the Minvera Teichert's painting "Rescue of the Lost Lamb." </p>
</center>
<br />

<h2>The Bracelet Bunch</h2>
<center>
	<p style="text-align:center">The great thing about bracelets is that you can make them anywhere! When we camped for our family reunion, I brought all of my thread with me. My younger cousins thought the bracelet I was wearing was so cool and expressed their desire to have one. Their minds were blown when I told them they could make one themselves. We made so many bracelets together and they ended up leaving Redfish Lake with a new hobby. Working summers for the Forest Service, you often have down time and have little to no service. I usually bring some thread with me to help pass the time. In 2021, two high school boys on my crew saw what I was doing and wanted to learn. At the time, all we had was paracord. They ended up making bracelets for their younger sisters. In 2024, I made bracelets for everyone on my crew. For this role, we had a crew of twenty. Three of the high school boys asked me to teach them how to make it. I gladly obliged. When we had the opportunity to go to Walmart, all of them bought their own floss containers. It was fun to watch them try it on their own and see their progress. I had another fire role with them, and they were still making bracelets.</p>
</center>
